.introTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: white;
}

.App {
  background-color: rgb(125, 76, 219);
}

.mainContainer {
  height: auto !important;
  min-height: 87vh !important;
}

.introTitle {
  text-shadow: 0px 1px 0px #6ffeb0;
}

.polygon_green {
  position: absolute;
  top: -40%;
  left: 80%;
  height: 70%;
}

.polygon_white {
  position: absolute;
  top: 30%;
  right: 95%;
  height: 40%;
}

.polygon_white_register {
  position: absolute;
  top: 60%;
  right: 95%;
  height: 40%;
}

.polygon_green_signin {
  position: absolute;
  top: -40%;
  left: 50%;
  height: 70%;
}
